<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="a4b898e3-6d8a-49a8-b3e4-f6d24f91569b" Publisher="CN=Simon" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="a4b898e3-6d8a-49a8-b3e4-f6d24f91569b" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>FlacPlayer</DisplayName>
    <PublisherDisplayName>Simon</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FlacPlayer.App">
      <m3:VisualElements DisplayName="FlacPlayer" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="FlacPlayer" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name=".flac">
            <DisplayName>Flac Player</DisplayName>
            <Logo>Assets\Square71x71Logo.png</Logo>
            <InfoTip>FLac Player</InfoTip>
            <SupportedFileTypes>
              <FileType>.flac</FileType>
              <FileType>.flic</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="FlacPlayerBackground.BackgroundTask">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="musicLibrary" />
    <Capability Name="removableStorage" />
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>